nav {
  height: 8vh;
  width: 100%;
  background-color: #c0392b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav *::after,
nav *::before,
nav * {
  transition: 0.3s;
}
nav img {
  height: 50%;
  position: absolute;
  left: 0;
}

.nav-inside-div {
  display: flex;
  flex-direction: row;
  margin-right: 35px;
}

.nav-inside-p {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  position: relative;
  line-height: 1.7;
  opacity: 0.8;
}
.nav-inside-p:hover {
  opacity: 1;
}

.nav-p1 {
  padding-left: 5px;
}

.nav-p1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 110%;

  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.nav-p1:hover::before {
  transform: scaleX(1);
}
.nav-p1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 110%;

  transform: scaleX(0);
}
.nav-p1:hover::after {
  transform: scaleX(1);
}
.nav-p3 {
  font-weight: bold;
}
/* Transfrom border on hover */
.nav-p2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 0;
}

.nav-p2:hover::before {
  width: 100%;
}
.nav-p2::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.nav-p2:hover::after {
  transform: scaleX(1);
}

.nav-settings-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
}

.set-first-span,
.set-second-span {
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  position: relative;
  user-select: none;
}
.set-first-span:hover,
.set-second-span:hover {
  opacity: 1;
}
.set-first-span {
  transform: translateY(10px);
  z-index: 10;
}
.s-f-s-c {
  transform: translateY(0);
}
.set-second-span {
  transform: translateY(-3px);
  pointer-events: none;
}
.set-second-span::after {
  content: "";
  height: 75%;
  width: 100%;
  background-color: #c0392b;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 100% 0;
}
.s-s-p-c {
  pointer-events: all;
}
.s-s-p-c::after {
  transform: scaleX(0);
}
.s-s-p-c::before {
  content: "";
  width: 100%;
  height: 1.5px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  bottom: -2px;
  transform-origin: 0 100%;
  transform: scaleX(0);
}
.s-s-p-c:hover::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 650px) {
  nav {
    justify-content: flex-end;
  }
}
