.comments-div {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100% !important;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comments-div * {
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.comments-inside-div {
  background: #fff;
  height: 600px;
  width: 500px;
  overflow: scroll;
  overflow-x: hidden;
  opacity: 0;
  animation: loadOnLogIn 0.3s forwards;
}
.comments-inside2-div {
  min-height: 30%;
  height: auto;
  padding: 15px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.com-ins2-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right: 15px;
}
.ins2-inside-h1 {
  font-size: 20px;
}
.ins2-inside-h1:hover {
  cursor: pointer;
  color: #2ea3f2;
}
.ins2-inside-time {
  font-size: 13px;
  color: #aaa69d;
}
.ins2-inside-body,
.ins2-inside-time {
  margin-bottom: 15px;
}
.com-ins2-inside > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.com-ins2-inside > div > p {
  margin-right: 10px;
}
.comments-inside3-div {
  text-align: center;
  padding: 20px;
  border-top: 0.1px solid #f1f2f6;
}
.com-ins3-btn {
  padding: 8px;
  background: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
  color: #1976d2;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  margin-bottom: 15px;
}
.com-ins3-btn:hover {
  background-color: #dff9fb;
}
.comments-inside4-div {
  padding: 15px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20%;
  border-top: 0.1px solid #f1f2f6;
}
.comments-inside4-div:hover {
  background-color: #f1f2f6;
}
.comments-inside4-div img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.ins4-h1 {
  font-size: 17px;
}
.ins4-body {
  font-size: 14px;
}
.com-wrap-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  cursor: pointer;
}
.c-w-i-div {
  -webkit-transform: translateY(-4.5px) translateX(-1px);
  transform: translateY(-4.5px) translateX(-1px);
}
.c-w-i-div:hover {
  background-color: #dff9fb;
}
.com-wrap-icon-img {
  height: 20px;
}
.c-w-i-i {
  -webkit-transform: translateY(0.5px);
  transform: translateY(0.5px);
}
.wrap-x-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrap-x-button:hover {
  background-color: #f1f2f6;
}
.x-button {
  font-size: 35px;
  -webkit-transform: rotate(45deg) translateY(-4.5px);
  transform: rotate(45deg) translateY(-4.5px);
  color: #d1ccc0;
}
.x-button:hover {
  color: #000;
}
.popup-delete {
  height: 30px;
  width: 100px;
  position: absolute;
  top: 30px;
  left: -50px;
  text-align: center;
  line-height: 1.7;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.5px solid #000;
}
.test-delete:hover {
  color: #c0392b;
  background-color: #fff;
}
.test-delete {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.com-ins2-icon-p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.com-in-likes-box {
  position: absolute;
  height: 100px;
  width: 150px;
  top: -100px;
  left: 0;
  border: 0.3px solid;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: scroll;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.com-in-likes-box-show {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.com-in-likes-box p {
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: #fff;
}
.com-in-likes-box::-webkit-scrollbar {
  width: 0.4em;
}
.deleteCommentSpinner {
  pointer-events: none;
}
.deleteCommentSpinner:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid #bdc3c7;
  border-top-color: #c0392b;
  position: absolute;
  left: 50%;
  top: -50%;
  margin-left: -30px;
  margin-top: 90px;
  -webkit-animation: deleteCommentSpinner 0.5s linear infinite;
  animation: deleteCommentSpinner 0.5s linear infinite;
  opacity: 0.7;
}
.likes-comment-p:hover {
  text-decoration: underline;
}
@-webkit-keyframes deleteCommentSpinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes deleteCommentSpinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
