.in-feat-p,
.in-feat-p2,
.in-sin-div-features img {
  cursor: pointer;
}
.posts-boxes-wrapper {
  width: 60%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.posts-boxes-wrapper * {
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.post-div {
  border-radius: 2px;
  height: auto;
  min-height: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 15px 40px 0 rgb(0 0 0 / 11%);
  transition: 0.3s ease;
}
.post-div:hover {
  box-shadow: 0 0 0 1px #e3e3e3;
  transform: translateY(3px);
}
.post-delete-div:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: -6px;
  top: -7px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  border: 1.5px solid #c0392b;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.post-delete-div:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.post-delete-div {
  position: absolute;
  right: 20px;
  top: 15px;
}
.post-delete-btn {
  max-height: 20px;
  max-width: 20px;
}
.post-div-img {
  min-width: 170px;
  max-width: 170px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.inside-single-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.in-sin-div-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.in-feat-p {
  margin-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.in-sin-div-features {
  font-size: 15px;
}
.in-sin-div-features img {
  height: 20px;
}
.in-feat-p2 span {
  margin-right: 3px;
}
.i-f-p-l-s:hover {
  text-decoration: underline;
}
.wrap-feat-icon-div {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  margin-right: 4px;
  text-align: center;
  line-height: 2.5;
}
.wrap-like-spe {
  line-height: 2.2;
  -webkit-transform: translateY(-3.2px);
  transform: translateY(-3.2px);
}
.wrap-feat-icon-div:hover {
  background-color: #dff9fb;
}
.wrap-like-spe:hover {
  background-color: transparent;
}
.f-i-d-i2 {
  -webkit-transform: translateY(1.5px) translateX(0.3px);
  transform: translateY(1.5px) translateX(0.3px);
}
.in-sin-p1 {
  font-weight: 700;
}
.in-sin-p1-span:hover {
  color: #2ea3f2;
  cursor: pointer;
}
.in-sin-p2 {
  -webkit-transform: translateY(-10px) translateX(10px);
  transform: translateY(-10px) translateX(10px);
  font-size: 13px;
  color: #aaa69d;
}
.in-sin-p3 {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  font-size: 14.5px;
  font-weight: 500;
}
.createPostSpinner {
  position: absolute;
  z-index: 300;
  pointer-events: none;
}
.createPostSpinner:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid #bdc3c7;
  border-top-color: #c0392b;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -30px;
  margin-top: 90px;
  -webkit-animation: createPostSpinner 0.5s linear infinite;
  animation: createPostSpinner 0.5s linear infinite;
  z-index: 200;
  opacity: 0.7;
}
.in-likes-box {
  position: absolute;
  height: 100px;
  width: 150px;
  top: -100px;
  left: 0;
  border: 0.3px solid;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: scroll;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: 0 100%;
}
.in-likes-box-show {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.in-likes-box p {
  line-height: 1.7;
  letter-spacing: 1.2px;
  color: #fff;
  cursor: pointer;
}
.in-likes-box p:hover {
  text-decoration: underline;
}
.in-likes-box::-webkit-scrollbar {
  width: 0.4em;
}
@-webkit-keyframes createPostSpinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes createPostSpinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@media only screen and (max-width: 980px) {
  .posts-boxes-wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .post-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 20px auto;
  }
  .post-div-img {
    height: 143px;
    min-height: 143px;
    min-width: 143px;
    max-width: 143px;
  }
  .inside-single-div {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .in-sin-div-features {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 635px) {
  .post-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 250px;
    padding: 15px 20px;
    width: 80%;
  }
  .post-div-img {
    min-height: 0;
    min-width: 0;
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
  }
}
