.posts-sec-wrapper {
  height: 40vh;
  width: 300px;
  border: 2px solid #d3d3d3;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #fff;
}
.posts-sec-wrapper * {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.edit-profile-bio,
.profile-box-pen-image {
  cursor: pointer;
}
.inside-sec-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  position: relative;
}
.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.profilebox-name-title-p {
  text-transform: capitalize;
  font-weight: 500;
}
.wrap-img-pen,
.wrap-img-pen2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-img-pen2:hover,
.wrap-img-pen:hover {
  background-color: #dff9fb;
}
.wrap-img-pen {
  -webkit-transform: translateY(-90px) translateX(90px);
  transform: translateY(-90px) translateX(90px);
}
.edit-profile-bio,
.profile-box-pen-image {
  height: 20px;
  outline: none;
}
.profile-box-time-stamp {
  text-transform: capitalize;
}
.website-a {
  text-decoration: none;
  color: #000;
}
.profile-box-div-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.row-div-inside {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.row-div-inside img {
  height: 20px;
  margin-right: 10px;
}
img[alt*="website"] {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wrap-img-pen2 {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  align-self: center;
}
@media only screen and (max-width: 900px) {
  .posts-sec-wrapper {
    width: 70%;
    margin-bottom: 20px;
  }
  .inside-sec-two {
    justify-content: flex-start;
    padding-top: 5px;
  }
  .profilebox-name-title-p {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  .wrap-img-pen {
    -webkit-transform: translateX(90px) translateY(-40px);
    transform: translateX(90px) translateY(-40px);
  }
}
@media only screen and (max-width: 450px) {
  .profile-box-div-info {
    left: 5%;
  }
}
@media only screen and (max-width: 380px) {
  .posts-sec-wrapper {
    height: 60vh;
  }
}
