.posts-modal {
  position: fixed;
  height: 100% !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
}
.posts-modal,
.posts-modal-inside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.posts-modal-inside {
  height: 200px;
  width: 400px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}
.pos-mod-h1 {
  margin-bottom: 25px;
}
