.arrow-down-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px auto;
}
.arrow-down-div:hover {
  cursor: pointer;
  background-color: #dcdde1;
}
.loadPostsSpinner {
  opacity: 0.5;
  position: relative;
  z-index: 300;
}
.loadPostsSpinner:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #bdc3c7;
  border-top-color: #c0392b;
  position: absolute;
  left: -3x;
  top: -3px;
  -webkit-animation: spinner 0.5s linear infinite;
  animation: spinner 0.5s linear infinite;
  z-index: 200;
}
.move-arrow-down {
  -webkit-transform: translateX(-1500px);
  transform: translateX(-1500px);
}
