.friends-div {
  justify-content: center;
  min-height: 70px;
}
.friends-div,
.friends-inside-d {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friends-inside-d {
  width: 60%;
  height: 50px;
  justify-content: space-around;
  border: 0.5px solid #f1f2f6;
  border-radius: 1px;
}
.remove-friends {
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.friends-inside-d:hover {
  background-color: #f1f2f6;
}
.friends-image {
  height: 80%;
  border-radius: 50%;
}
.friends-p {
  font-weight: 500;
  width: 150px;
  padding-left: 15px;
}
.friends-btn {
  height: 60%;
  background-color: #c0392b;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  letter-spacing: 2px;
  position: relative;
}
.friends-btn-hover:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 4.5px;
  background-color: #fff;
  height: 1px;
  width: 90%;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.friends-btn-hover:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.friends-x-btn-div {
  margin-left: 20px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.friends-x-btn-div div {
  height: 1px;
  width: 45%;
  background-color: #5f6368;
  position: absolute;
}
.friends-i-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
}
.friends-i-2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
}
.friends-x-btn-div:hover {
  cursor: pointer;
  background-color: #dcdde1;
}
.friendsSpinner {
  opacity: 0.8;
  position: relative;
}
.friendsSpinner:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #bdc3c7;
  border-top-color: #c0392b;
  position: absolute;
  left: -2px;
  top: -1.5px;
  -webkit-animation: spinner 0.5s linear infinite;
  animation: spinner 0.5s linear infinite;
}
@media only screen and (max-width: 1050px) {
  .friends-inside-d {
    width: 80%;
  }
}
@media only screen and (max-width: 725px) {
  .friends-inside-d {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .friends-btn {
    width: 70px;
    height: 80%;
  }
}
