.register-box-div {
  height: 50vh;
  width: 80%;
  border: 0.5px solid #ecf0f1;
  margin: 60px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
  grid-template-columns: 4fr 3fr;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  animation: loadOnLogIn 0.3s forwards;
}
.welcome-part-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.part-one-text {
  font-family: Lora, serif;
  font-weight: 400;
}
.welcome-part-div ul {
  -webkit-transform: translateY(-30px) translateX(-20px);
  transform: translateY(-30px) translateX(-20px);
}
.welcome-part-ul-title {
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}
@media only screen and (max-width: 980px) {
  .register-box-div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 80vh;
  }
  .welcome-part-ul-title {
    margin-bottom: 20px;
  }
  .showSpinner:before {
    margin-left: -50px;
  }
}
