.log-in-div {
  height: 600px;
  width: 45%;
  border: 0.5px solid #ecf0f1;
  margin: 50px auto auto;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  animation: loadOnLogIn 0.3s forwards;
  font-family: Lora, serif;
  font-weight: 400;
}

@keyframes loadOnLogIn {
  to {
    opacity: 1;
  }
}

.log-on-title {
  text-align: center;
  margin-top: 30px;
}
.log-in-text {
  margin: 30px 0;
  text-align: center;
}
.log-in-div hr {
  margin: auto;
  width: 70%;
}
.log-in-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 30%;
  margin: 30px 0;
}
.log-in-form label {
  text-align: left;
}
.log-in-form input {
  width: 90%;
  height: 30px;
  font-size: 120%;
  padding-left: 5px;
  border-radius: 2px;
  border: 0.5px solid #778ca3;
  outline: none;
  text-align: center;
}
.log-in-form button {
  width: 90%;
  height: 30px;
  margin-top: 15px;
}
.log-in-div span {
  color: #0c2461;
  cursor: pointer;
}
.log-in-div img {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
  border-radius: 4px;
}
.showSpinner2 {
  opacity: 0.5;
  position: relative;
}
.showSpinner2:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid #bdc3c7;
  border-top-color: #c0392b;
  position: absolute;
  left: 50%;
  top: 55%;
  margin-left: -30px;
  margin-top: 90px;
  -webkit-animation: spinner 0.5s linear infinite;
  animation: spinner 0.5s linear infinite;
  z-index: 10;
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.text-for-warning {
  position: relative;
  padding-top: 25px;
}
.invalid-msg:before {
  content: "Invalid email or Password";
  position: absolute;
  height: 35px;
  width: 90%;
  background-color: rgba(255, 221, 221, 0.54);
  left: 5%;
  top: -25px;
  line-height: 2.5;
  border: 1px solid #dd4661;
  border-radius: 4px;
  cursor: default;
}
@media only screen and (max-width: 980px) {
  .showSpinner2:before {
    margin-left: -30px;
  }
}
@media only screen and (max-width: 900px) {
  .log-in-div {
    width: 80%;
  }
}
