.my-profile-div * {
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.my-profile-div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.my-profile-div,
.my-profile-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.my-profile-inside {
  height: 60%;
  width: 80%;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  opacity: 0;
  animation: loadOnLogIn 0.5s forwards;
}
.my-pro-title {
  margin: 25px 0;
}
.my-pro-view-div {
  width: 90%;
  max-height: 60%;
  min-height: 60%;
}
.my-pro-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 300px;
  height: 40px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 4px;
}
.my-pro-btn-btn {
  width: 33.33%;
  text-align: center;
  position: relative;
  cursor: pointer;
  line-height: 2;
  margin-left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-p-b-s {
  width: 100%;
  height: 6px;
  background-color: #c0392b;
  position: absolute;
  left: 0;
  bottom: -20%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.active-btn-span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.no-friends-to-show,
.no-post-profile-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.my-profile-no-exists,
.no-post-profile-div {
  text-align: center;
  padding: 0 20px;
}
.my-profile-no-exists {
  font-weight: 500;
  color: #c0392b;
}
