.registered-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f5f9;
  font-family: Lora, serif;
  opacity: 0;
  animation: loadOnLogIn 0.3s forwards;
}
.registered-box-div img {
  height: 80px;
}
.registered-box-title {
  text-align: center;
  font-weight: 400;
}
.registered-box-text span {
  color: #0c2461;
  cursor: pointer;
  font-size: 20px;
}
